<% provide(:title, "ヘルプ") %>
<div class="contents container">
  <h1>ヘルプページ</h1>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h2>基本操作</h2>
        <ul>
          <li>ブログを始める</li>
          <li>記事を書く</li>
          <li>記事を編集/削除する</li>
          <li>ユーザーをフォローする</li>
          <li>「いいね」する</li>
        </ul>

      </div>
      <div class="col-xs-12 col-lg-6">
        <h2>使いこなす</h2>

      </div>
    </div>
</div>
