<% provide(:title, "管理ページ") %>
<body>

  <div class="container">
      <div class="row">
  		<div class="col-xs-12">
  		  <h3>管理ページ</h3>
  			<!-- tabs -->
  			<div class="tabbable tabs-left">
  				<ul class="nav nav-tabs">
  					<li class="active"><a href="#home" data-toggle="tab">あなたの記事一覧</a></li>
  					<li><a href="#about" data-toggle="tab">お気に入りの記事</a></li>
  					<li><a href="#services" data-toggle="tab">購読中のブログ</a></li>
  					<li><a href="#contact" data-toggle="tab">テーマの選択</a></li>
  				</ul>
  				<div class="tab-content">
  					<div class="tab-pane active" id="home">
  						<div class="">
  							<h1>Home Tab</h1>
  							<p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
  						</div>
  					</div>
  					<div class="tab-pane" id="about">
  						<div class="">
  							<h1>About Tab</h1>
  							<p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
  						</div>
  					</div>

  					<div class="tab-pane" id="services">
  						<div class="">
  							<h1>Services Tab</h1>
  							<p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
  						</div>
  					</div>

  					<div class="tab-pane" id="contact">
  						 <div class="">
  							<h1>Contact Tab</h1>
  							<p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
  						 </div>
  					</div>
  				</div>
  			</div>
  			<!-- /tabs -->
  		</div>
  	</div>
  </div>


<div>
<% @blogs = current_user.blogs %>
<% @blogs.each do |blog|%>
  <%= blog.title %>
    <%= blog.title %>
    <%= link_to '削除', blog_path(blog), method: :delete %>
<% end %>
</div>
