<div class="main col-lg-8">
  <div class="breadcrumb"></div>
  <div class="content">
    <main>
      <article>
        <header>
          <p></p>
          <h1>
            <%= @blog.title %>
          </h1>
          <figure></figure>
          <div class="sns">
            <ul>
              <li>twitter</li>
              <li>facebook</li>
            </ul>
          </div>
        </header>
        <section>
          <div class="test1">111111</div>
          <div class="test2">22222</div>
        </section>
      </article>
    </main>
  </div>
</div>