@import "bootstrap-sprockets";
@import "bootstrap";

*{
  box-sizing: border-box;
  list-style: none;
  padding: 0px;
  margin: 0px;
}




/*ヘッダー*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar{
  background-color: rgba(0,0,0,0.8);
}

/*夕日のところ*/

.picture {
  background-image: url(sunset.jpg);
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  height:399px;
  text-align:center;
}

.opacity{
  height:100%;
  background-color: rgba(255,255,255,0.2);
}

.title{
  font-size: 50px;
  opacity:0.7;
  padding-top:  150px;
}

.title2{
  font-size: 30px;
  opacity:0.8;
}


/*ボディ*/
.bodyid{
  background-color:#F2F2F2;
}

/* コンテンツ*/
.contents{
  margin-top:50px;
  background-color:white;
}



/*メイン*/
.serviceTop-header{
  padding-top:20px;
  padding-bottom:5px;
  font-family:Noto-Sans;
  font-weight:700;
  font-size:25px;
  border-bottom:1px rgb(191, 206, 211) solid;
}

.kiji{
  padding:20px 20px;
  height: 25%;
  border:0 solid gray ;
}

.kiji:hover{
 opacity: 0.7;
}

.shadow{
  margin: 10px;
  box-shadow:0px 0px 4px;
  position: relative;
}

.kiji-category{
  position: absolute;
  top:0px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  font-size: 15px;
  width:100px;
  text-align:center;
}

.kiji-photo{
  height:200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kiji-title{
  font-size: 20px;
}

.kiji-link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:5;
}

.pagenate{
  height: 200px;
}


/* サイドバー*/

.side{
  padding:30px 30px 0px 30px  ;
}


.koukoku1{
  background-image: url(koukoku.jpg);
  background-size: 100% 100%;
  height: 250px;
  margin:30px 30px ;
}

.search{
}

.categories{
}

.categories h4{
  height:40px;
  padding-top: 10px;
  padding-left: 5px;
  color: lightgray;
  background-color: black;
}

.categories li{
  width:100%;
  font-size: 16px;
  border-bottom: 0.5px dotted gray;
  margin-bottom: 2px;
}

.categories li:hover{
  opacity: 0.6;
}

.categories .hidari{
  float:left;
  width: 80%;
  margin-bottom: 5px;
}

.categories .fas{
  width: 20%;
  text-align: right;
  z-index: 5;
  margin-bottom: 5px;
}

section .test1{
  float:left;
  width: 50%;
}

section .test2{
  float:left;
  width: 50%;
  text-align:right;
  color:red;
}

.ranking{
}

.ranking h4{
  height:40px;
  padding-top: 10px;
  padding-left: 5px;
  color: lightgray;
  background-color: black;
}

.ranking li{
  width:100%;
  font-size: 16px;
  border-bottom: 0.5px dotted gray;
  margin-bottom: 2px;
}

.ranking li:hover{
  opacity: 0.6;
}

.ranking .hidari{
  float:left;
  width: 80%;
  margin-bottom: 5px;
}

.ranking .fas{
  width: 20%;
  text-align: right;
  z-index: 5;
  margin-bottom: 5px;
}

.recent{
}

.otoiawase{
}


/*新規投稿フォーム*/
.blog-new-form .title-form{
  width:100%;
  height:40px;
  margin-top:20px;
  margin-bottom:20px;
}

.blog-new-form .category-form{
  width:100%;
  height:40px;
  margin-bottom:20px;
}

.blog-new-form .content-form{
  width:100%;
  height:1000px;
  margin-top:20px;
  margin-bottom:20px;
}

/*記事詳細*/
.blog-show .thumbnail{
  height: 400px;
  width: 100%;
  background-size:cover;
}

/*ログインモーダル*/

@text: #111;
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 15px/1.25 'Alef';
  color: #111;
}
.form_area {
  margin: 70px auto;
  background: #2a3644;
  width: 347px;
  text-align: center;
  padding: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.form_area > h1 {
  color: #f4f4f4;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin-bottom: 20px;
}
.form_input {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  display: block;
  width: 269px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  outline: none;
}
.form_input:focus {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
::-webkit-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
:-moz-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
::-moz-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
:-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}
.form_button {
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 17px;
  width: 270px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1.2em;
  background: #f26964;
  color: #f4f4f4;
  box-shadow: 0px 3px 0px #ab4b47;
  cursor: pointer;
}
.form_button:active {
  top: 3px;
  box-shadow: none;
}
