@import "bootstrap-sprockets";
@import "bootstrap";

*{
  box-sizing: border-box;
  list-style: none;
  padding: 0px;
  margin: 0px;
}




/*ヘッダー*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar{
  background-color: rgba(0,0,0,0.8);
}

/*ヒーロー*/

.hero {
  background-image: url(pc.jpg);
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  height:699px;
  text-align:center;
  height: 100vh;
  background: linear-gradient( cyan, transparent), linear-gradient( -45deg, magenta, transparent), linear-gradient( 45deg, yellow, transparent), url(pc.jpg) center center / cover no-repeat;
  background-blend-mode: multiply;
}

.opacity{
  height:100%;
  background-color: rgba(255,255,255,0);
}

.title{
  color: white;
  font-size: 50px;
  opacity:0.7;
  padding-top:  150px;
}

.title2{
  color: white;
  font-size: 30px;
  opacity:0.8;
}

.hero-header{
  padding-top: 100px;

}
/* ヒーローのボタン */
.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

/* フッター */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



/*ボディ*/
.bodyid{
  background-color:#F2F2F2;
}

/* コンテンツ*/
.contents{
  margin-top:100px;
  padding-top:15px;
  background-color:white;
}

/* news-box*/

.news-box{
  padding: 0 30px 0 30px;
}

/*メイン*/
.serviceTop-header{
  padding-top:20px;
  padding-bottom:5px;
  font-family:Noto-Sans;
  font-weight:700;
  font-size:25px;
  border-bottom:1px rgb(191, 206, 211) solid;
}

.kiji{  /*レスポンシブの箱として機能*/
  height: 360px;
  padding: 30px 0 0 0;  /*30つけないとタブのとこと被るので*/
}

.kiji:hover{
 opacity: 0.7
}

.kiji-shadow{
  margin:5px 5px;
  box-shadow: 1px 1px 5px 1px rgba(204,204,204,0.6);
  position: relative;
  border-radius: 10px 10px 10px 10px;
  height: 95%;
}

.kiji-shadow:hover{
  background-color: rgba(211,222,241,0.5);
}

.kiji-category{
  position: absolute;
  top:0px;
  left: 5px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  font-size: 15px;
  width:100px;
  text-align:center;
}

.kiji-photo{
  height:230px;
  border-radius: 10px 10px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kiji-title{
  padding: 10px 0 0 10px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 600;
}

.kiji-time{
  text-align:right;
  padding: 0 10px 10px 10px;
}

.kiji-blogtitle{
  display: flex;
justify-content: center;
align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(200, 200, 200, 0.2);
  padding-right: 10px;
}

.kiji-link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:5;
}

.smallkiji{  /*レスポンシブの箱として機能*/
  height: 100px;
  padding: 10px 0 0 0;  /*30つけないとタブのとこと被るので*/
}

.smallkiji:hover{
 opacity: 0.7
}

.smallkiji-shadow{
  font-size: 5px;
  margin:5px 5px;
  box-shadow: 1px 1px 5px 1px rgba(204,204,204,0.6);
  position: relative;
  border-radius: 10px 10px 10px 10px;
  height: 95%;
}

.smallkiji-shadow:hover{
  background-color: rgba(211,222,241,0.5);
}

.smallkiji-title{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 550;
}

.smallkiji-blogtitle{
  padding-top: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.smallkiji-link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:5;
}
 /*ぺーじねーしょん*/
 /*ページネーション自体のデザイン*/
 .pagination>li>a {
   border: none;     /*枠線をなくす*/
   color: #696969;   /*文字の色を変える*/
 }

 /* 表示しているページ番号のデザイン */
 .pagination>.active>a {
   background: #93c9ff;     /*背景の色を変える*/
   border-radius: 15px;     /*角を丸くする*/
 }

 /*ホバー時のデザイン*/
 .pagination>li>a:hover {
   border-radius: 15px;    /*角を丸くする*/
 }




/* サイドバー*/

.side{
  padding:30px 30px 0px 30px  ;
}


.koukoku1{
  background-image: url(koukoku.jpg);
  background-size: 100% 100%;
  height: 250px;
  margin:30px 30px ;
}

.search{
}

.categories{
}

.categories h4{
  height:40px;
  padding-top: 10px;
  padding-left: 5px;
  color: lightgray;
  background-color: black;
}

.categories li{
  width:100%;
  font-size: 16px;
  border-bottom: 0.5px dotted gray;
  margin-bottom: 2px;
}

.categories li:hover{
  opacity: 0.6;
}

.categories .hidari{
  float:left;
  width: 80%;
  margin-bottom: 5px;
}

.categories .fas{
  width: 20%;
  text-align: right;
  z-index: 5;
  margin-bottom: 5px;
}

section .test1{
  float:left;
  width: 50%;
}

section .test2{
  float:left;
  width: 50%;
  text-align:right;
  color:red;
}

.ranking{
}

.ranking h4{
  height:40px;
  padding-top: 10px;
  padding-left: 5px;
  color: lightgray;
  background-color: black;
}

.ranking li{
  width:100%;
  font-size: 16px;
  border-bottom: 0.5px dotted gray;
  margin-bottom: 2px;
}

.ranking li:hover{
  opacity: 0.6;
}

.ranking .hidari{
  float:left;
  width: 80%;
  margin-bottom: 5px;
}

.ranking .fas{
  width: 20%;
  text-align: right;
  z-index: 5;
  margin-bottom: 5px;
}

.recent{
}

.otoiawase{
}


/*新規投稿フォーム*/
.blog-new-form .title-form{
  width:100%;
  height:40px;
  margin-top:20px;
  margin-bottom:20px;
}

.blog-new-form .category-form{
  width:100%;
  height:40px;
  margin-bottom:20px;
}

.blog-new-form .content-form{
  width:100%;
  height:1000px;
  margin-top:20px;
  margin-bottom:20px;
}

/*記事詳細*/
.blog-show .thumbnail{
  height: 400px;
  width: 100%;
  background-size:cover;
}


/*管理ページ*/

/*管理ページのレフトメニュー*/
/* Starter CSS for Flyout Menu */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}


/*トップページ*/

/*タブ部分*/
.tab{
    margin-top: 30px;
}
.tab .nav-tabs{
    border:none;
    border-bottom: 1px solid #e4e4e4;
}
.nav-tabs li a{
    padding: 15px 40px;
    border:1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background: #7a81f4;
    color:#fff;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
}
.nav-tabs li a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: #00b0ad;
    color: #fff;
}
.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.nav-tabs li:last-child{
    border-right:1px solid #ededed;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border-top: 3px solid #00b0ad;
    border-right: 1px solid #d3d3d3;
    margin-top: -15px;
    color: #444;
    padding: 22px 40px;
}
.tab .tab-content{
    padding: 20px;
    line-height: 22px;
    box-shadow:0px 1px 0px #808080;
}
.tab .tab-content h3{
    margin-top: 0;
}
@media only screen and (max-width: 767px){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}
