<footer class="footer">
<div>
<div class="footer-lists">
    <ul class="footer-lists-contents">
      <li><%= link_to "ABOUT ME",  about_path %></li>
      <li><%= link_to "CONTACT", contact_path %></li>
    </ul>
  </div>
  <div class="copyright">
  <p>Copyright 2020 Atsushi Kaneko All Rights Reserved</p>
  </div>
    </div>
</footer>
