<div class="hero">
  <div class="opacity">
    <div class="hero-header">
    <h1 class="title">Simple Blog Platform</h1>
    <h3 class="title2">powered by Ruby on Rails</h3>
    <h3 class="title2">さあ、あなたのアイデアを世界に発信しよう</h3>
    <div class="hero-btn"><a href="/users/new" class="btn-border">ブログを作成</a></div>
    </div>
  </div>
</div>s
